@charset "UTF-8";
/* 面包屑导航 */
.cjh-breadcrumb-nav {
  border-top: #dbdbdb solid 1px;
  border-bottom: #dbdbdb solid 1px;
  padding: .2rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#ececec));
  background-image: linear-gradient(#fefefe, #ececec);
  font-size: .18rem;
  margin-bottom: .2rem;
}

.cjh-breadcrumb-nav > a {
  display: inline;
}

/*热门品牌排行  */
.cjh-hot-brand .hb-title {
  padding: .2rem .25rem;
  background: #eeeeee;
  margin-bottom: .2rem;
  color: #9a652e;
  border-top: #dbdbdb solid 1px;
  border-bottom: #dbdbdb solid 1px;
  font-size: .16rem;
}

.cjh-hot-brand .hb-main {
  border-top: #dbdbdb solid 1px;
  margin-bottom: .2rem;
}

.cjh-hot-brand .hb-main .ul-hb li {
  background: #eeeeee;
  font-size: .14rem;
}

.cjh-hot-brand .hb-main .ul-hb li a {
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .2rem .3rem;
  border-bottom: #dbdbdb solid 1px;
}

.cjh-hot-brand .hb-main .ul-hb li a .li-arr {
  display: block;
  content: "";
  width: .12rem;
  height: .12rem;
  border-top: 1px #666 solid;
  border-right: 1px #666 solid;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.cjh-hot-brand .hb-main .ul-hb li .brand-list {
  display: none;
}

<<<<<<< HEAD
.cjh-hot-brand .hb-main .ul-hb li .brand-list li {
=======
.cjh-hot-brand .hb-main .ul-hb li .brand-list li > a {
>>>>>>> 07df32ba1ea7d8484b1acc15c4fdc75535e3da3c
  padding: .1rem;
  background: #fff;
  border-bottom: #dbdbdb solid 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

<<<<<<< HEAD
.cjh-hot-brand .hb-main .ul-hb li .brand-list li .ranking {
=======
.cjh-hot-brand .hb-main .ul-hb li .brand-list li > a .ranking {
>>>>>>> 07df32ba1ea7d8484b1acc15c4fdc75535e3da3c
  background: #cccccc;
  width: 1.4em;
  height: 1.4em;
  font-size: .12rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-right: .1rem;
}

<<<<<<< HEAD
.cjh-hot-brand .hb-main .ul-hb li .brand-list li:first-child .ranking {
  background: #f10e0e;
}

.cjh-hot-brand .hb-main .ul-hb li .brand-list li:nth-child(2) .ranking {
  background: #ff9211;
}

.cjh-hot-brand .hb-main .ul-hb li .brand-list li:nth-child(3) .ranking {
  background: #85de59;
}

.cjh-hot-brand .hb-main .ul-hb li .brand-list li .list-content {
=======
.cjh-hot-brand .hb-main .ul-hb li .brand-list li > a .list-content {
>>>>>>> 07df32ba1ea7d8484b1acc15c4fdc75535e3da3c
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

<<<<<<< HEAD
.cjh-hot-brand .hb-main .ul-hb li .brand-list li .list-content > p:first-child {
=======
.cjh-hot-brand .hb-main .ul-hb li .brand-list li > a .list-content > p:first-child {
>>>>>>> 07df32ba1ea7d8484b1acc15c4fdc75535e3da3c
  font-weight: 700;
  font-size: .22rem;
}

<<<<<<< HEAD
.cjh-hot-brand .hb-main .ul-hb li .brand-list li .list-content > p:last-child {
=======
.cjh-hot-brand .hb-main .ul-hb li .brand-list li > a .list-content > p:last-child {
>>>>>>> 07df32ba1ea7d8484b1acc15c4fdc75535e3da3c
  color: #cccccc;
  font-size: .12rem;
}

<<<<<<< HEAD
.cjh-hot-brand .hb-main .ul-hb li .brand-list li .list-arr {
=======
.cjh-hot-brand .hb-main .ul-hb li .brand-list li > a .list-arr {
>>>>>>> 07df32ba1ea7d8484b1acc15c4fdc75535e3da3c
  width: .12rem;
  height: .12rem;
  border-top: 1px #666 solid;
  border-right: 1px #666 solid;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: auto 0;
}
<<<<<<< HEAD
=======

.cjh-hot-brand .hb-main .ul-hb li .brand-list li:first-child .ranking {
  background: #f10e0e;
}

.cjh-hot-brand .hb-main .ul-hb li .brand-list li:nth-child(2) .ranking {
  background: #ff9211;
}

.cjh-hot-brand .hb-main .ul-hb li .brand-list li:nth-child(3) .ranking {
  background: #85de59;
}
>>>>>>> 07df32ba1ea7d8484b1acc15c4fdc75535e3da3c
/*# sourceMappingURL=cjh-brand.css.map */