@charset "UTF-8";
/* 重置头部 */
.cjh-coupon-head {
  background: #f4483e;
}

/*优惠券列表  */
.cjh-coupon-list {
  padding: .1rem .1rem .2rem .1rem;
  border-bottom: 1px solid #efefef;
}

.cjh-coupon-list .list-title {
  font-size: .14rem;
  color: #a3a3a3;
  text-align: center;
  padding-bottom: .2rem;
}

.cjh-coupon-list .list-main .coupon-img {
  width: 30%;
}

.cjh-coupon-list .list-main .coupon-img > img {
  width: 80%;
}

.cjh-coupon-list .list-main .coupon-content {
  width: 70%;
  padding-left: .1rem;
  font-size: .16rem;
  color: #737373;
}

.cjh-coupon-list .list-main .coupon-content .cou-con-left .del {
  width: 95%;
}

.cjh-coupon-list .list-main .coupon-content .cou-con-left .money {
  padding-top: .1rem;
}

.cjh-coupon-list .list-main .coupon-content .cou-con-left .money .money-left {
  width: 95%;
}

.cjh-coupon-list .list-main .coupon-content .cou-con-left .money .money-right {
  width: 5%;
}

.cjh-coupon-list .list-main .coupon-content .cou-con-left .money .money-right::after {
  content: "";
  display: block;
  width: .14rem;
  height: .14rem;
  border-top: 1px solid #737373;
  border-left: 1px solid #737373;
  transform: rotate(135deg);
}

.cjh-coupon-list .list-main .coupon-content .cou-con-left .data {
  padding-top: .2rem;
  color: #f08525;
}
