.lzs-box {
    // width: ;
    margin: 0.2rem .88rem;
    display: flex;
    flex-wrap: wrap;
    a {
        color: #000;
        background-color: #ccc;
        border: 1px solid #999;
        // display: block;
        // width: 1.5rem;
        text-align: right;
        // float: right;
        margin: .05rem;
        padding: .2rem;
        padding-left: .3rem;
        display: flex;
        font-size: .2rem;
        img {
            width: .3rem;
            padding-right: .05rem;
        }
    }
}