.index-menu {
    padding: 0.1rem 0;
    display: flex;
    flex-wrap: wrap;
    a {
        padding: .08rem 0;
        text-align: center;
        font-size: 0.21rem;
        width: 25%;
        img {
            padding: .08rem 0;
            margin: 0 auto;
            width: 50%;
        }
        &:nth-last-child(-n+4) {
            display: none;
        }
    }
}

// 分割线
.hr {
    background-color: rgb(226, 226, 226);
    height: 0.1rem;
    width: 100%;
}

// 折扣
.discount {
    .discount_title {
        color: #fff;
        width: 100%;
        font-size: 0.22rem;
        display: flex;
        justify-content: space-between;
        background-image: linear-gradient(rgb(255, 174, 0), rgb(255, 123, 0));
        padding: .1rem .1rem;
    }
    .discount_content {
        a {
            display: flex;
            border-bottom: 1px solid #ccc;
            font-size: 0.23rem;
            padding: .1rem .1rem;
            .left {
                padding: .15rem 0;
                width: 35%;
            }
            .right {
                margin-left: 0.18rem;
                flex: 1;
                padding-top: 0.38rem;
                p {
                    &:first-child {
                        height: 70%;
                    }
                    &:last-child {
                        height: 30%;
                        color: rgb(182, 181, 181);
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
            .orange {
                color: rgb(255, 115, 0);
            }
        }
    }
}

// 更多
.more {
    padding: 0.1rem .1rem 0;
    font-size: 0.22rem;
    a {
        border: 1px solid rgb(209, 209, 209);
        background-image: linear-gradient(rgb(245, 245, 245), rgb(218, 218, 218));
        border-radius: 5px;
        text-align: center;
        padding: 0.08rem 0;
    }
}

// 品牌排行
.rand {
    .rand_title {
        color: #fff;
        width: 100%;
        font-size: 0.22rem;
        display: flex;
        justify-content: space-between;
        background-image: linear-gradient(rgb(255, 174, 0), rgb(255, 123, 0));
        padding: .1rem .1rem;
    }
}